<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
    <li><a routerLink="genres/Action">Action</a></li>
    <li><a routerLink="genres/Adventure">Adventure</a></li>
    <li><a routerLink="genres/Animation">Animation</a></li>
    <li><a routerLink="genres/Comedy">Comedy</a></li>
    <li><a routerLink="genres/Crime">Crime</a></li>
    <li><a routerLink="genres/Documentary">Documentary</a></li>
    <li><a routerLink="genres/Drama">Drama</a></li>
    </ul>
</div>
