<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="center" class="main center">

    <div class="container" *ngIf="movie">

      <!-- Début partie spécifique home page -->
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <img class="details-img" [src]="movie.poster_path" />
        </div>
        <div class="col-xs-12 col-sm-8">
          <h2>{{ movie.original_title }}</h2>
          <h3>{{ movie.tagline }}</h3>
          <p class="meta-wrap">
            <span class="rating">rating: {{ movie.vote_average }} </span>
            <span class="meta">{{ movie.spoken_languages[0].name }} / {{ movie.runtime }} min. / {{ movie.release_date }}</span>
          </p>

          <mat-chip-list class="genres">
            <mat-chip *ngFor="let genre of movie.genres;">{{ genre.name }}</mat-chip>
          </mat-chip-list>

          <div class="card-container">
            <mat-card class="card">
              <mat-card-title>Leave your opinion !</mat-card-title>
              <mat-card-subtitle>Or look at all the reviews already posted in the table below</mat-card-subtitle>
              <mat-card-content>
                <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                    <ngx-star-rating formControlName="rating" [formControl]="rating" required></ngx-star-rating>
                    <mat-form-field appearance="fill">
                        <mat-label for="comment">Comment</mat-label>
                        <textarea matInput placeholder="" [formControl]="comment" formControlName="comment" required></textarea>
                        <mat-error *ngIf="comment.invalid">{{getCommentError()}}</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="card-submit">
                        Post comment
                    </button>
                </form>
              </mat-card-content>
            </mat-card>
          </div>

      </div>

      <div class="container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> N° </th>
            <td mat-cell *matCellDef="let comment"> {{comment.id}} </td>
          </ng-container>
        
          <!-- Text Column -->
          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Text </th>
            <td mat-cell *matCellDef="let comment"> {{comment.text}} </td>
          </ng-container>

          <!-- Rating Column -->
          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef> Rating </th>
            <td mat-cell *matCellDef="let comment"> {{comment.rating}}/10 </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let comment"> {{comment.date | date:'short'}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="5" [length]="5"
        showFirstLastButtons></mat-paginator>
      </div>

    </div>
</div>
